@import "tailwindcss";
@import "../../node_modules/datatables.net-dt/css/dataTables.dataTables.min.css";
@import "../../node_modules/simplebar/dist/simplebar.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";
/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */
@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

.simplebar-primary .simplebar-scrollbar::before {
    background-color: #1e45f3 !important;

    width: 8px;
    height: 70px;
    border-radius: 9999px;
}
.card {
    @apply bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5;
}
.row {
    @apply flex flex-wrap -mx-2; /* -mx-2 untuk negative margin kiri dan kanan (gutter) */
}
.col-md-1 {
    @apply w-full md:w-1/12 px-2;
}
.col-md-2 {
    @apply w-full md:w-2/12 px-2;
}
.col-md-3 {
    @apply w-full md:w-3/12 px-2;
}
.col-md-4 {
    @apply w-full md:w-4/12 px-2;
}
.col-md-5 {
    @apply w-full md:w-5/12 px-2;
}
.col-md-6 {
    @apply w-full md:w-6/12 px-2;
}
.col-md-7 {
    @apply w-full md:w-7/12 px-2;
}
.col-md-8 {
    @apply w-full md:w-8/12 px-2;
}
.col-md-9 {
    @apply w-full md:w-9/12 px-2;
}
.col-md-10 {
    @apply w-full md:w-10/12 px-2;
}
.col-md-11 {
    @apply w-full md:w-11/12 px-2;
}
.col-md-12 {
    @apply w-full md:w-full px-2;
}
thead {
    @apply text-xs uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

th {
    @apply px-6 py-3;
}

/* Baris tabel */
tbody tr {
    @apply bg-white border-b border-gray-200
           dark:bg-gray-500 dark:border-gray-400
           hover:bg-gray-100 dark:hover:bg-gray-600
           transition-colors duration-200;
}

/* Sel tabel */
td {
    @apply px-6 py-4;
}

/* Sel tabel khusus bold */
td.bold {
    @apply font-medium text-gray-900 dark:text-white;
}

/* Tambahan: agar tabel responsif */
.table-container {
    @apply relative overflow-x-auto;
}

/* Tambahan: tombol umum */
.btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 text-white text-sm px-3 py-1 rounded-md shadow;
}
/* @import "~my-datatables-bs4-scoped/dist/css/dataTables.bootstrap4.min.css"; */

/* Prefix Scope untuk DataTable */
